@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@300&family=Shalimar&display=swap");

:root {
  --primaryColor: #371d5c;
  --secondaryColor: #f4c371;
  --tertiaryColor: #923267;
  --fourthColor: #260e42;
  --additionalColor: #a9dbce;
  --accentColor: #e96aa1;
  --accentColorOpague: rgba(233, 106, 161, 0.8);
  --secondYellow: #fec260;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: var(--secondaryColor);
}

/*Header styling*/
header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}
/* Body styling */
.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
